<div class="page__wrapper">

    <div class="main__container container-fluid p-0">
        <div class="col-2 sidebar__menu--container">
            <aside class="sidebar__menu">
                <div class="sidebar__menu--header">
                    <h1>
                        Admin
                    </h1>
                </div>

                <nav class="side__navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Messages Log
                            </a>
                        </li>
                    </ul>
                </nav>

            </aside>
        </div>

        <div class="col p-0">
            <header class="main__header">
                Header
            </header>

            <main class="container-fluid content__container">
                Main
            </main>
        </div>
    </div>

</div>
