.main__header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: $primary;
    color: $white;
}

.main__container {
    display: flex;
}

.content__container {
    padding: 15px;
    height: 100vh;
    background-color: $light;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
